/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Font Variables
$FiraSans: "Fira Sans", sans-serif;
$PlexMono: "IBM Plex Mono", monospace;
$PlexSerif: "IBM Plex Serif", serif;

// Set Fonts
$font-family-sans-serif: $FiraSans;
$font-family-monospace: $PlexMono;


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
    font-family: $PlexSerif;
}

h1, h2 {
    font-weight: 600;
}

.title {
    font-variant: small-caps;
}
